/* ------- BODY ------- */
html, body {
  margin: 0;
  text-align: center;
  font-family: Biotif-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  background: #f1f6f9;
}

/* ------- NAV BAR ------- */
.sidebar {
  position: fixed;
  z-index: +2;
  width: 100%;
  height: 25px;
  background: #394867;
  top: 0;
  padding: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
  font-family: Biotif-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* ------- LINKS ------- */
a:link {
  color: #fcece3;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fcece3;
}

/* ----------------
.about {
  display: inline-block;
  position: relative;
  top: auto;
  left: 60px;
  font-size: 1.1em;

.Books {
  display: inline-block;
  position: relative;
  top: auto;
  left: 60px;
  font-size: 1.1em;
}

------------------ */
.Contact {
  display: inline-block;
  position: relative;
  top: auto;
  left: 30px;
  font-size: 1.1em;
}

.insta {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  right: 60px;
  margin: auto;
}

.git {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  right: 110px;
  margin: auto;
}

/* ------- TOP CONTAINER ------- */
.top-container {
  background-color: #394867;
  position: relative;
  padding-top: 240px;
  height: 80%;
}

.header {
  margin: 0 auto;
  width: 40%;
  font-size: 40px;
  color: #fcece3;
  text-shadow: 5px 5px 10px black;
  letter-spacing: 1px;
}

.underheader {
  margin: 0 auto;
  width: 30%;
  padding: 3px;
  color: #fcece3;
  font-size: 20px;
  text-shadow: 5px 5px 10px black;
  left: 1px;
}

.stars-top {
  max-width: 280px;
  max-height: 280px;
  position: absolute;
  top: 53px;
  left: 23%;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
}

.stars {
  max-width: 280px;
  max-height: 280px;
  position: absolute;
  top: 36%;
  left: 45%;
}

.cloud {
  max-height: 200px;
  max-width: 200px;
  position: absolute;
  right: 12%;
  top: 7%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cloud2 {
  height: 180px;
  width: 180px;
  position: absolute;
  left: 7%;
  top: 25%;
}

.planet {
  height: 150px;
  width: 200px;
  position: absolute;
  left: 30%;
  top: 40%;
}

.astro {
  max-height: 120px;
  max-width: 120px;
  position: absolute;
  left: 60%;
  top: 70%;
  z-index: 1;
}

.sky {
  position: absolute;
  height: 350px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* ------- MIDLLE CONTAINER ------- */
.middle-container {
  background-color: #f1f6f9;
  position: relative;
  min-height: 100%;
}

.profile {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: -1.5px;
  color: #232320;
}

hr {
  border-style: none;
  border-top: 5px dotted;
  border-top-color: #eabf9f;
  width: 3%;
}

.htmlicon {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 40px;
}

.cssicon {
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 40px;
}

.skill-row {
  font-size: 20px;
  line-height: 170%;
  letter-spacing: -1.5px;
  width: 45%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

h2, h3 {
  color: #394867;
}

#contact-me {
  font-size: 20px;
  line-height: 170%;
  letter-spacing: -1.5px;
  color: #232320;
  position: relative;
  z-index: 100;
  text-align: center;
  top: 60px;
  left: auto;
  right: auto;
}

#contact-me h3 {
  color: black;
}

.btn {
  padding-top: 35px;
  padding-bottom: 120px;
}

.BUTTON_TTS {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FCECE3;
  font-family: Biotif-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 14px 28px;
  background-color: #394867;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.copyright {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.bottom-container {
  font-size: 15px;
  color: grey;
  position: relative;
  background-color: #f1f6f9;
  height: 35px;
  width: 100%;
}
